* {
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    text-align: center;
    color: blue;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

