#container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 225px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
#bottom {
    display: flex;
}

#bottomLeft {
    display: flex;
}

.a {
    width: 213px;
    height: 50px;
    background-color: #dadada;
    margin-bottom: 5px;
}

.b {
    width: 160px;
    height: 50px;
    background-color: #dadada;
    margin-bottom: 5px;
}

.c, .d, .e {
    width: 50px;
    height: 50px;
    background-color: #dadada;
    text-align: center;
    margin-right: 5px;
}

.f {
    width: 50px;
    height: 105px;
    background-color: #dadada;
}