#container {
    box-sizing: border-box;
    border: 1px solid black;
    width: 225px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
#bottom {
    display: flex;
}

#bottomUp {
    padding-bottom: 5px;
}

#bottomUp, #bottomDown {
    display: flex;
}

.a {
    width: 213px;
    height: 50px;
    background-color: #dadada;
    margin-bottom: 5px;
}

.b, .c, .d {
    width: 50px;
    height: 50px;
    background-color: #dadada;
    text-align: center;
    margin-right: 5px;
}

.e, .f, .g {
    width: 50px;
    height: 50px;
    background-color: #dadada;
    text-align: center;
    margin-right: 5px;
}

.h {
    width: 50px;
    height: 105px;
    background-color: #dadada;
}