* {
    background-color: aliceblue;
    max-width: 1196px;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: dodgerblue;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}