.main {
    background: cornflowerblue;
    width: 250px;
    padding: 2px;
}

.a {
    height: 50px;
    background: silver;
    margin: 2px;
    text-align: center;
}

.box {
    display: flex;
    text-align: center;
}

.b {
    height: 100px;
    width: 200px;
    background: silver;
    margin: 2px;
}

.c {
    height: 100px;
    width: 50px;
    background: silver;
    margin: 2px;
}